@import "../../global.scss";

.projects{
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .heading{
        font-size: 30px;
        font-family:monospace;
        color: white;
       position: absolute;
       top: 20px;
       @media screen and (max-height: 600px) {
           top: 5px;
       }
    }

    .arrow{
        height: 50px;
        position: absolute;
        
        cursor: pointer;

        

        &.left{
            left: 10px;
            transform: rotateY(180deg);
            @include mobile{
                left: 10px;
            }
        }
        &.right{
            right: 10px;
            @include mobile{
                right: 10px;
            }
        }
        @include mobile{
            height: 25px;
        }
    }

    .slider{
        height: 400px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;
        

        @include mobile{
            justify-content: center;
            height: 450px;
        }

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            
            @include mobile{
                height: 100%;
            }

            .item{
                width: 700px;
                height: 95%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid black;
                @include mobile{
                    width: 80%;
                  
                    margin: 10px 0;
                    flex-direction: column; 
                }
                @include smobile{
                    width: 75%;
                    
                    margin: 8px 0;
                    flex-direction: column;
                }

                .left{
                    flex: 4;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    

                    .leftContainer{
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        
                        h2{
                            font-size: 20px;
                            margin-bottom: 5px;
                            @include mobile{
                                font-size: 15px;
                            }
                            @include smobile{
                                font-size: 13px;
                            }
                        }
                        p{
                            font-size: 13px;
                            font-family:'Courier New', Courier, monospace;
                            color: gray;
                            @include mobile{
                                font-size: 11px;
                            }
                            @include smobile{
                                font-size: 11px;
                            }
                        }
                        .site{
                            color: white;
                            width: 80px;
                            height: 25px;
                            font-size: 10px;
                            font-weight: 500;
                            border-radius: 5px;
                            cursor: pointer;
                            background-color: black;
                            margin-top: 15px;
                            font-family:'Courier New', Courier, monospace;
                            
                            &:hover{
                                background-color: rgb(44, 43, 43);
                            }
                            @include mobile{
                                width: 60px;
                                height: 15px;
                                font-size: 8px;
                                font-weight: 200;
                                border-radius: 0;
                            }
                            @include smobile{
                                width: 60px;
                                height: 15px;
                                font-size: 8px;
                                font-weight: 200;
                                border-radius: 0;
                            }
                        }
                    }
                }

                .right{
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    @include mobile{
                        flex: 4;
                        width: 100%;
                    }
                    @include smobile{
                        flex: 4;
                        width: 100%;
                    }
                    img{
                        height: 500px;
                        transform: rotate(-10deg);
                        @include mobile{
                            height: 300px;
                            
                        }
                        @include smobile{
                            height: 300px;
                            
                        }
                    }
                }
            }
        }
    }

}